$primary: #16abf8;
$secondary: #f4f4f4;
$danger: #ed4c5c;

// .btn {
//   border-radius: 45px;
//   border: 0px;
//   padding: 13.5px 29px;
//   font-size: 18px;
//   font-weight: 600;
//   &.btn-primary {
//     background-color: $primary;
//   }
//   &.btn-danger {
//     background-color: $danger;
//   }

// }

@import "../../node_modules/bootstrap/scss/bootstrap";
