.dropdown-sort {
  position: relative;
  z-index: 1;
  width: 80px;
}

.dropdown-sort .dropdown-btn {
  width: 55px;
  height: 55px;
  border-radius: 99px;
  border: 1px solid #e5e5e5;
  background-color: transparent;
}

.dropdown-sort .dropdown-content {
  margin-top: 2px;
  position: absolute;
  top: 110%;
  width: 230px;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px gainsboro;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}

.dropdown-sort .dropdown-content .dropdown-item {
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s;
  padding: 15px;
  border-bottom: solid 1px #e5e5e5;
}
.dropdown-sort .dropdown-content .dropdown-item:hover {
  background-color: rgba(52, 181, 245, 0.2);
}
